h2 {
    color: #5FCFFC;
    background-color: rgb(89, 151, 0);
}

button {
    color: magenta;
    background-color: mediumseagreen;
}

p {
    color: plum;
}

body {
    background-color: #000;
}

span {
    color: brown;
}

.tag {
    background-color: beige;
}

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: goldenrod;
}

p::selection {
    background-color: dodgerblue;
}